* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
  display: flex; 
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator{
  width: 430px;
  background-color: #aaa;
  padding: 24px;
  border: 2px solid black;
  border-radius: 10px;
}

.screen {
  background-color: #EEEEEE;
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.result{
  height: 30%; 
  order: 1;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-right: 20px;
}

.showOnScreen{
  font-size: 45px;
  height: 70%;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.item {
  background-color: #EEEEEE;
  height: 60px;
  width: 22%;
  font-size: 30px;
}

#remove{
  width: 48%;
  background-color: #9999EE;
 }
 
 #clear{
   width: 48%;
   background-color: #EE9999;
 }
 

.item:hover {
  opacity: .7;
  cursor: pointer;
}
